.hidden {
    display: none !important;
    height: 0;
}

.navbar ul {
    list-style: none; 
    padding-left: 0; 
    margin-left: 0;
}
.navbar li { display: inline; }
.navbar li:before { content:"[ "; }
.navbar li:after { content:" ]"; }

